In [1]:
import pandas as pd


#зчитування з файлу
data = pd.read_csv('2017_jun_final.csv')

In [2]:
# Использование метода head() для просмотра первых пяти строк таблицы
print(data.head())

   N                 Должность Язык.программирования Специализация  \
0  1        Junior QA engineer                   NaN     Manual QA
1  2        Junior QA engineer                   NaN     Manual QA
2  3         Software Engineer               C#/.NET           NaN
3  4         Software Engineer            JavaScript           NaN
4  5  Senior Software Engineer            JavaScript           NaN

  Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0               0.5                          0.5               400
1  меньше 3 месяцев             меньше 3 месяцев               430
2                 4                            1              2500
3                 5                            4              2000
4    10 и более лет                          0.5              4500

   Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                 0  Харьков       до 10 человек  ...
1                               130  Харьков  свыше 1000 человек  ...
2                               800     Киев     до 1000 человек  ...
3                               400   Одесса      до 200 человек  ...
4                               500   Другой       до 10 человек  ...

  Еще.студент Уровень.английского                    Предметная.область  \
0        True       ниже среднего                         iOS,eCommerce
1        True       выше среднего                        Веб-разработка
2       False             средний  Веб-разработка,Корпоративные системы
3       False       ниже среднего   Desktop Applications,Веб-разработка
4       False             средний   Desktop Applications,Веб-разработка

       Дата.заполнения                                         User.Agent  \
0  12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1  12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2  12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3  12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4  12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...

    exp current_job_exp salary Валюта  cls
0   0.5             0.5    400    NaN   QA
1   0.0             0.0    430    NaN   QA
2   4.0             1.0   2500    NaN  DEV
3   5.0             4.0   2000    NaN  DEV
4  10.0             0.5   4500    NaN  DEV

[5 rows x 25 columns]

In [3]:
# Использование метода shape для определения размера таблицы
print(data.shape)

(8704, 25)

In [4]:
# Использование метода dtypes для определения типов столбцов
print(data.dtypes)

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [5]:
# Использование методов isnull и sum для подсчета пропущенных значений в каждом столбце
missing_values_count = data.isnull().sum()

# Вычисление доли пропущенных значений в каждом столбце
missing_values_fraction = missing_values_count / len(data)

# Вывод результата на экран
print(missing_values_fraction)

N                                   0.000000
Должность                           0.000000
Язык.программирования               0.442325
Специализация                       0.829389
Общий.опыт.работы                   0.000000
Опыт.работы.на.текущем.месте        0.000000
Зарплата.в.месяц                    0.000000
Изменение.зарплаты.за.12.месяцев    0.000000
Город                               0.000000
Размер.компании                     0.000000
Тип.компании                        0.000000
Пол                                 0.000000
Возраст                             0.000000
Образование                         0.000000
Университет                         0.041131
Еще.студент                         0.000000
Уровень.английского                 0.000000
Предметная.область                  0.025620
Дата.заполнения                     0.000000
User.Agent                          0.000000
exp                                 0.000000
current_job_exp                     0.000000
salary                              0.000000
Валюта                              0.998851
cls                                 0.180836
dtype: float64

In [6]:
# Список столбцов для сохранения, включая столбец "Мова програмування"
keep_columns = ['Язык.программирования'] + list(data.dropna(axis=1, how='any').columns)

# Оставляем только столбец "Мова програмування" и столбцы без пропущенных значений
clean_data = data[keep_columns]

# Выводим результат на экран
print(clean_data.head())

  Язык.программирования  N                 Должность Общий.опыт.работы  \
0                   NaN  1        Junior QA engineer               0.5
1                   NaN  2        Junior QA engineer  меньше 3 месяцев
2               C#/.NET  3         Software Engineer                 4
3            JavaScript  4         Software Engineer                 5
4            JavaScript  5  Senior Software Engineer    10 и более лет

  Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                          0.5               400
1             меньше 3 месяцев               430
2                            1              2500
3                            4              2000
4                          0.5              4500

   Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  \
0                                 0  Харьков       до 10 человек
1                               130  Харьков  свыше 1000 человек
2                               800     Киев     до 1000 человек
3                               400   Одесса      до 200 человек
4                               500   Другой       до 10 человек

     Тип.компании      Пол  Возраст           Образование  Еще.студент  \
0  Аутсорсинговая  женский       20  Незаконченное высшее         True
1  Аутсорсинговая  женский       21  Незаконченное высшее         True
2  Аутсорсинговая  мужской       26                Высшее        False
3     Продуктовая  мужской       30               Среднее        False
4     Продуктовая  мужской       30    Техникум / Колледж        False

  Уровень.английского      Дата.заполнения  \
0       ниже среднего  12/06/2017 12:38:08
1       выше среднего  12/06/2017 12:42:51
2             средний  12/06/2017 13:02:47
3       ниже среднего  12/06/2017 13:03:01
4             средний  12/06/2017 13:03:47

                                          User.Agent   exp  current_job_exp  \
0  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5              0.5
1  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0              0.0
2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0              1.0
3  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0              4.0
4  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0              0.5

   salary
0     400
1     430
2    2500
3    2000
4    4500

In [7]:
# Рассчитываем долю пропусков для каждого столбца
null_fractions = clean_data.isnull().mean()

# Выводим результат на экран
print(null_fractions)

Язык.программирования               0.442325
N                                   0.000000
Должность                           0.000000
Общий.опыт.работы                   0.000000
Опыт.работы.на.текущем.месте        0.000000
Зарплата.в.месяц                    0.000000
Изменение.зарплаты.за.12.месяцев    0.000000
Город                               0.000000
Размер.компании                     0.000000
Тип.компании                        0.000000
Пол                                 0.000000
Возраст                             0.000000
Образование                         0.000000
Еще.студент                         0.000000
Уровень.английского                 0.000000
Дата.заполнения                     0.000000
User.Agent                          0.000000
exp                                 0.000000
current_job_exp                     0.000000
salary                              0.000000
dtype: float64

In [8]:
# Удаляем все строки с пропущенными значениями
clean_data = clean_data.dropna()
print(clean_data)

     Язык.программирования     N                 Должность Общий.опыт.работы  \
2                  C#/.NET     3         Software Engineer                 4
3               JavaScript     4         Software Engineer                 5
4               JavaScript     5  Senior Software Engineer    10 и более лет
6                  C#/.NET     7  Junior Software Engineer                 1
7                      C++     8  Senior Software Engineer                 6
...                    ...   ...                       ...               ...
8692                  Java  8693         Software Engineer                 5
8694               C#/.NET  8695  Junior Software Engineer                 1
8695                Python  8696         Software Engineer                 1
8701            Ruby/Rails  8702  Junior Software Engineer                 1
8703                  Java  8704  Senior Software Engineer                 7

     Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
2                               1              2500
3                               4              2000
4                             0.5              4500
6                меньше 3 месяцев               600
7                               1              3300
...                           ...               ...
8692                            1              3500
8694                            1               550
8695                          0.5              1500
8701                          0.5               800
8703                            2              5000

      Изменение.зарплаты.за.12.месяцев        Город  Размер.компании  \
2                                  800         Киев  до 1000 человек
3                                  400       Одесса   до 200 человек
4                                  500       Другой    до 10 человек
6                                  100  Хмельницкий    до 50 человек
7                                  500         Киев    до 10 человек
...                                ...          ...              ...
8692                               650     Удаленно   до 200 человек
8694                               550      Харьков   до 200 человек
8695                              1000         Киев    до 10 человек
8701                               500        Львов    до 10 человек
8703                               800       Одесса  до 1000 человек

         Тип.компании      Пол  Возраст           Образование  Еще.студент  \
2      Аутсорсинговая  мужской       26                Высшее        False
3         Продуктовая  мужской       30               Среднее        False
4         Продуктовая  мужской       30    Техникум / Колледж        False
6      Аутсорсинговая  мужской       23                Высшее        False
7         Продуктовая  мужской       28                Высшее        False
...               ...      ...      ...                   ...          ...
8692   Аутсорсинговая  женский       28                Высшее        False
8694   Аутсорсинговая  мужской       23                Высшее        False
8695          Стартап  мужской       29                Высшее        False
8701  Аутстаффинговая  мужской       30  Незаконченное высшее        False
8703      Продуктовая  мужской       28                Высшее        False

     Уровень.английского      Дата.заполнения  \
2                средний  12/06/2017 13:02:47
3          ниже среднего  12/06/2017 13:03:01
4                средний  12/06/2017 13:03:47
6          ниже среднего  12/06/2017 13:04:26
7          выше среднего  12/06/2017 13:04:27
...                  ...                  ...
8692             средний  12/07/2017 13:26:49
8694       ниже среднего  12/07/2017 14:14:33
8695             средний  12/07/2017 14:39:21
8701       выше среднего  12/07/2017 17:32:26
8703       выше среднего  12/07/2017 21:28:57

                                             User.Agent   exp  \
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0
6     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.0
7     Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....   6.0
...                                                 ...   ...
8692  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0
8694  Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...   1.0
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0

      current_job_exp  salary
2                 1.0    2500
3                 4.0    2000
4                 0.5    4500
6                 0.0     600
7                 1.0    3300
...               ...     ...
8692              1.0    3500
8694              1.0     550
8695              0.5    1500
8701              0.5     800
8703              2.0    5000

[4854 rows x 20 columns]

In [9]:
# Выводим размерность очищенной таблицы на экран
print("Размерность очищенной таблицы: ", clean_data.shape)

Размерность очищенной таблицы:  (4854, 20)

In [10]:
# Создаем новую таблицу python_data, в которую попадут только те строки, где указан язык программирования Python
python_data = clean_data[clean_data['Язык.программирования'] == 'Python']
# Выводим размерность новой таблицы на экран
print("Размерность таблицы python_data: ", python_data.shape)

Размерность таблицы python_data:  (207, 20)

In [12]:
# Группируем данные по столбцу "Посада"
grouped_data = python_data.groupby('Должность')

# Выводим количество строк в каждой группе на экран
print(grouped_data.size())

Должность
Junior Software Engineer     63
Senior Software Engineer     31
Software Engineer           100
System Architect              2
Technical Lead               11
dtype: int64

In [14]:
# Группируем данные по столбцу "Посада" и находим минимальное и максимальное значение в столбце "Зарплата.в.місяць"
aggregated_data = python_data.groupby('Должность').agg({'Зарплата.в.месяц': ['min', 'max']})

# Выводим полученные результаты на экран
print(aggregated_data)

                         Зарплата.в.месяц
                                      min   max
Должность
Junior Software Engineer              100  1250
Senior Software Engineer             1300  9200
Software Engineer                     500  5400
System Architect                     3000  5000
Technical Lead                       1425  6200

In [22]:
def fill_avg_salary(row):
    salary_columns = [col for col in row.index if col.startswith('Зарплата.')]
    return row[salary_columns].mean()

# Створюємо копію DataFrame для уникнення помилки A value is trying to be set on a copy of a slice from a DataFrame; A value is trying to be set on a copy of a slice from a DataFrame
python_data_copy = python_data.copy()

# Використовуємо .loc для створення нового стовпчика
python_data_copy.loc[:, 'avg'] = python_data_copy.apply(fill_avg_salary, axis=1)

# Виводимо на екран перші 5 рядків з DataFrame
print(python_data_copy.head())

    Язык.программирования    N                 Должность Общий.опыт.работы  \
12                 Python   13         Software Engineer                 1
68                 Python   69         Software Engineer               1.5
87                 Python   88  Junior Software Engineer               0.5
114                Python  115  Junior Software Engineer               1.5
143                Python  144  Junior Software Engineer                 1

    Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
12              меньше 3 месяцев               800
68                           0.5               900
87                           0.5               600
114                          0.5               685
143                            1               750

     Изменение.зарплаты.за.12.месяцев Город  Размер.компании    Тип.компании  \
12                                200  Киев    до 50 человек  Аутсорсинговая
68                                900  Киев    до 10 человек         Стартап
87                                  0  Киев    до 10 человек  Аутсорсинговая
114                               250  Киев  до 1000 человек  Аутсорсинговая
143                               250  Киев    до 10 человек  Аутсорсинговая

     ... Возраст           Образование Еще.студент  Уровень.английского  \
12   ...      26                Высшее       False        ниже среднего
68   ...      21  Незаконченное высшее        True        выше среднего
87   ...      19  Незаконченное высшее        True        выше среднего
114  ...      21  Незаконченное высшее       False              средний
143  ...      21  Незаконченное высшее        True        выше среднего

         Дата.заполнения                                         User.Agent  \
12   12/06/2017 13:05:54  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
68   12/06/2017 13:11:17  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
87   12/06/2017 13:12:25  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
114  12/06/2017 13:14:52  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
143  12/06/2017 13:19:10  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...

     exp  current_job_exp  salary    avg
12   1.0              0.0     800  800.0
68   1.5              0.5     900  900.0
87   0.5              0.5     600  600.0
114  1.5              0.5     685  685.0
143  1.0              1.0     750  750.0

[5 rows x 21 columns]

In [23]:
# Описова статистика за допомогою методу describe для нового стовпчика
print(python_data['avg'].describe())

count     207.000000
mean     1753.937198
std      1314.751537
min       100.000000
25%       750.000000
50%      1425.000000
75%      2500.000000
max      9200.000000
Name: avg, dtype: float64

In [27]:
# Збереження таблиці у CSV файл
python_data.to_csv('2023_2017_jun_final.csv', index=False)